
.list{
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,.2);
    /* outline: 1px solid #333; */
}

.header{
    background-color: #2A2A2A;
    color: #BE7AFA;
    text-shadow: -1px -1px 3px #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.center{
    text-align: center;
}

th, td {
    text-align: left;
    padding: 16px;
    border: 1px solid #2A2A2A;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
